[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Cadense
Comment=Start JACK server
Exec=cadence-session-start --system-start
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

