[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Goldendict
Comment=GUI dictionary
Exec=goldendict
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

